In [2]:
!pip3 install pyspark

Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 2.8 MB/s eta 0:00:00m eta 0:00:01[36m0:00:02
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 kB 3.1 MB/s eta 0:00:00[31m6.9 MB/s eta 0:00:01
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845499 sha256=a139cf82176117836f89fd14c1e1026f998a1b331afd6b08688eefa9ed1aa6d3
  Stored in directory: /Users/dkamble.intern/Library/Caches/pip/wheels/0f/f0/3d/517368b8ce80486e84f89f214e0a022554e4ee64969f46279b
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

[notice] A new release of pip available: 22.2.2 -> 22.3
[notice] To update, run: python3.10 -m pip install --upgrade pip

In [12]:
from pyspark.sql import SparkSession

In [13]:
# spark = SparkSession.Builder.appName('Dataframe').getOrCreate()
spark=SparkSession.builder.appName('Dataframe').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/11/02 12:14:22 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [14]:
spark

In [16]:
df_pyspark=spark.read.option('header','true').csv('Department_Dataset 2.csv',inferSchema=True)

In [17]:
df_pyspark.printSchema()

root
 |-- ID: integer (nullable = true)
 |-- Dept_name: string (nullable = true)
 |-- location: string (nullable = true)
 |-- travel_required: string (nullable = true)

In [18]:
df_pyspark.show()

+---+---------+---------+---------------+
| ID|Dept_name| location|travel_required|
+---+---------+---------+---------------+
|  1|       HR|     Pune|            yes|
|  2|  Finance|Bangalore|             no|
|  3|  Finance|Bangalore|             no|
|  4|  Finance|     Pune|             no|
|  5|     Tech|   Mumbai|             no|
|  6|     Tech|     Pune|             no|
|  7|     Tech|Bangalore|            yes|
|  8|       HR|Bangalore|             no|
|  9|       HR|     Pune|             no|
| 10|       HR|     Pune|             no|
| 11|       HR|   Mumbai|             no|
| 12|       HR|   Mumbai|            yes|
| 13|  Finance|Bangalore|            yes|
| 14|     Tech|Bangalore|            yes|
| 15|     Tech|   Mumbai|            yes|
| 16|     Tech|     Pune|            yes|
| 17|     Tech|Bangalore|             no|
| 18|  Finance|   Mumbai|             no|
| 19|       HR|   Mumbai|             no|
| 20|  Finance|Bangalore|             no|
+---+---------+---------+---------------+
only showing top 20 rows

In [19]:
df_pyspark.head(5)

[Row(ID=1, Dept_name='HR', location='Pune', travel_required='yes'),
 Row(ID=2, Dept_name='Finance', location='Bangalore', travel_required='no'),
 Row(ID=3, Dept_name='Finance', location='Bangalore', travel_required='no'),
 Row(ID=4, Dept_name='Finance', location='Pune', travel_required='no'),
 Row(ID=5, Dept_name='Tech', location='Mumbai', travel_required='no')]

In [20]:
df_pyspark.select(['Dept_name','location'])

DataFrame[Dept_name: string, location: string]

In [21]:
df_pyspark.select(['Dept_name','location']).show()

+---------+---------+
|Dept_name| location|
+---------+---------+
|       HR|     Pune|
|  Finance|Bangalore|
|  Finance|Bangalore|
|  Finance|     Pune|
|     Tech|   Mumbai|
|     Tech|     Pune|
|     Tech|Bangalore|
|       HR|Bangalore|
|       HR|     Pune|
|       HR|     Pune|
|       HR|   Mumbai|
|       HR|   Mumbai|
|  Finance|Bangalore|
|     Tech|Bangalore|
|     Tech|   Mumbai|
|     Tech|     Pune|
|     Tech|Bangalore|
|  Finance|   Mumbai|
|       HR|   Mumbai|
|  Finance|Bangalore|
+---------+---------+
only showing top 20 rows

In [22]:
df_pyspark.dtypes

[('ID', 'int'),
 ('Dept_name', 'string'),
 ('location', 'string'),
 ('travel_required', 'string')]

In [ ]:
df_pyspark.withColumn('travel',)

In [23]:
from pyspark.sql.functions import when

matches = df_pyspark["travel_required"].isin("yes")
new_df = df_pyspark.withColumn("travel_required", when(matches, 1).otherwise(0))

In [24]:
new_df.show()

+---+---------+---------+---------------+
| ID|Dept_name| location|travel_required|
+---+---------+---------+---------------+
|  1|       HR|     Pune|              1|
|  2|  Finance|Bangalore|              0|
|  3|  Finance|Bangalore|              0|
|  4|  Finance|     Pune|              0|
|  5|     Tech|   Mumbai|              0|
|  6|     Tech|     Pune|              0|
|  7|     Tech|Bangalore|              1|
|  8|       HR|Bangalore|              0|
|  9|       HR|     Pune|              0|
| 10|       HR|     Pune|              0|
| 11|       HR|   Mumbai|              0|
| 12|       HR|   Mumbai|              1|
| 13|  Finance|Bangalore|              1|
| 14|     Tech|Bangalore|              1|
| 15|     Tech|   Mumbai|              1|
| 16|     Tech|     Pune|              1|
| 17|     Tech|Bangalore|              0|
| 18|  Finance|   Mumbai|              0|
| 19|       HR|   Mumbai|              0|
| 20|  Finance|Bangalore|              0|
+---+---------+---------+---------------+
only showing top 20 rows